<%= simple_form_for(Order.new,:url => {controller: "orders",action: "create", item_id: item.id},
                              :html => { :class => 'form-horizontal order-form'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item_id, as: :hidden, input_html: { value: "#{item.id}"}, wrapper_html: {style: "display: none"} %>
    <%= f.input :start_date, readonly: true, input_html: { class: "datepicker start_date_input" } %>
    <%= f.input :end_date, readonly: true, input_html: { class: "datepicker end_date_input" } %>
    <%= f.input :reason, as: :text , input_html: { rows: 3 } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>