<%= simple_form_for @item, html: { class: "form-horizontal" } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, as: :text, input_html: { rows: 5 } %>
    <%= f.input :item_type, collection: Settings.item_type, prompt: "Select type" %>
    <%= f.input :quantity %>
    <%= f.input :item_image, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>