<ul class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
  <% if @item_type %>
  <li><a href="<%= items_path %>">Items</a> <span class="divider">/</span> </li>
  <li class="active"><%= @item_type.name %></li>
  <% else %>
  <li class="active">Items</li>
  <% end %>
</ul>

<h1>All <%= @item_type.nil? ? "Items" : @item_type.name.pluralize %></h1>

<hr>

<%= link_to 'New Item', new_item_path, class: 'btn btn-primary' %>
<span class="search-items">
  <input type="text" placeholder="search items..." id="search_item" style="float:right">
</span>

<br />
<br />

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Type</th>
      <th>Code</th>
      <th>Description</th>
      <th>Available in</th>
      <th>Borrowers</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each_with_index do |item, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to item.name,item_path(item) %></td>
        <td><%= item.item_type.name %></td>
        <td><%= item.code %></td>
        <td><%= item.description %></td>
        <td><%= item.available_in %></td>
        <td><%= item.try(:borrower) ? item.borrower.name : "" %></td>
        <td>
          <%= link_to "Order", "#", class: "order" %>
          <%= render 'orders/new', item: item %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>